<div class="columns">
  <div class="column m-5">
    <p class="bd-notification is-info">
      <app-header></app-header>
    </p>
    <div class="columns">
      <div class="column ml-4">
        <div class="bd-notification is-info">
          <form class="field" [formGroup]="newContact" (ngSubmit)="onSubmit()">
            <label class="label" for="fullName">Full Name: </label>
              <input
                placeholder="e.g Mario Rossi"
                class="input is-info"
                id="fullName"
                type="text"
                formControlName="name"
              >
            <label class="label" for="email">Email: </label>
            <p class="control has-icons-left has-icons-right">
              <input
                placeholder="e.g mariorossi@example.com"
                class="input is-info"
                id="email"
                type="email"
                formControlName="email"
              >
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </p>
            <label class="label" for="phone">Phone: </label>
            <p class="control has-icons-left has-icons-right">
              <input
                placeholder="e.g. (090)999-9999"
                class="input is-info"
                id="phone"
                type="tel"
                formControlName="phone"
              >
              <span class="icon is-small is-left">
                <i class="fas fa-phone-alt"></i>
              </span>
            </p>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <button
                    class="button is-primary"
                    type="submit"
                    [disabled]="!newContact.valid"
                  >
                    Add New Contact
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="column is-8 mr-5">
        <div>
            <p class="control has-icons-left has-icons-right m-2">
              <input
                (keyup)="onSearch($event)"
                placeholder="by name"
                class="input is-info"
                type="text"
                formControlName="searchByName"
                [formControl]="searchContact"
              >
              <span class="icon is-small is-left">
                <i class="fas fa-search"></i>
              </span>
            </p>
         </div>
        <div class="bd-notification is-info">
          <div  *ngIf="toggle; else elseCard">
            <app-contacts-list
              [contacts]="contacts"
              [toggle]="toggle"
              (contactSelected)="selectContact($event)"
              (contactReove)="removeContact($event)"
            ></app-contacts-list>
          </div>
          <ng-template #elseCard>
            <app-selected-contact
            [toggle]="toggle"
            [selectedContact]="selectedContact"
            (listToggle)="toggleList()"
            ></app-selected-contact>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
