<div class="columns">
  <div class="column m-5">
    <p class="bd-notification is-info">
      <app-header></app-header>
    </p>
    <div class="columns">
      <div class="column ml-4">
        <div class="bd-notification is-info">
          <form class="field" [formGroup]="newContact" (ngSubmit)="onSubmit()">
            <label class="label" for="fullName">Full Name: </label>
              <input
                placeholder="e.g Mario Rossi"
                class="input is-info"
                id="fullName"
                type="text"
                formControlName="name"
              >
            <label class="label" for="email">Email: </label>
            <p class="control has-icons-left has-icons-right">
              <input
                placeholder="e.g mariorossi@example.com"
                class="input is-info"
                id="email"
                type="email"
                formControlName="email"
              >
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </p>
            <label class="label" for="phone">Phone: </label>
            <p class="control has-icons-left has-icons-right">
              <input
                placeholder="e.g. (090)999-9999"
                class="input is-info"
                id="phone"
                type="tel"
                formControlName="phone"
              >
              <span class="icon is-small is-left">
                <i class="fas fa-phone-alt"></i>
              </span>
            </p>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <button
                    class="button is-primary"
                    type="submit"
                    [disabled]="!newContact.valid"
                  >
                    Add New Contact
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="column is-8 mr-5">
        <div>
          <!-- <form class="field" [formControl]="searchContact"> -->
            <p class="control has-icons-left has-icons-right m-2">
              <input
                (keyup)="onSearch($event)"
                placeholder="by name"
                class="input is-info"
                type="text"
                formControlName="searchByName"
                [formControl]="searchContact"
              >
              <span class="icon is-small is-left">
                <i class="fas fa-search"></i>
              </span>
            </p>
        <!-- </form> -->
         </div>
        <div class="bd-notification is-info">
          <div  *ngIf="toggle; else elseCard">
            <table class="table is-narrow is-hoverable is-fullwidth">
              <thead>
                <tr>
                  <th>#</th>
                  <th>name</th>
                  <th>email</th>
                  <th>phone</th>
                  <th>open</th>
                  <th>cancel</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let contact of contacts; let inx = index">
                  <td>{{ inx + 1 }}</td>
                  <td>{{ contact.name }}</td>
                  <td>{{ contact.email }}</td>
                  <td>{{ contact.phone }}</td>
                  <td>
                    <button class="button is-info btn" (click)="selectContact(contact.id)">
                      <span class="icon">
                        <i class="fas fa-eye"  *ngIf="toggle"></i>
                      </span>
                    </button>
                  </td>
                  <td>
                    <button class="button is-danger btn" (click)="removeContact(contact.id)">
                      <span class="icon">
                        <i class="fas fa-trash"></i>
                      </span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <ng-template #elseCard>
            <div class="notification is-info is-light">
                <button class="button is-info  is-pulled-right btn" (click)="toggleList()">
                  <span class="icon">
                    <i class="far fa-eye-slash" *ngIf="!toggle"></i>
                  </span>
                </button>
              <div class="block">
                <h1 class="block">{{ selectedContact?.name }}</h1>
                <p class="block">{{ selectedContact?.email }}</p>
                <p class="block">{{ selectedContact?.phone }}</p>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
